@media (min-width: 700px) {
  /* Hide hamburger button */
  #menu {
    display: none;
  }

  /* Display nav inline */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    background: none;
    gap: 1rem;
  }

  .navigation a {
    border: none;
    padding: 1rem 1.5rem;
  }

  .album {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  img {
    height: 220px;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
}
